body {
  font-family: monospace;
}

h1 {
  text-align: center;
  background-color: brown;
}

.email-address {
  text-decoration: none;
}

.user-block h3 { /* Title/Person's Name */
  font-weight: bold;
}

.user-block p { /* Person's information */

}

.images {
  columns: 100px 2;
}

.links {
  columns: 50px 4;
}

.members {
  columns: 70px 3;
}
<<<<<<< HEAD

.calendar {
  columns 75px 2;
}
=======
>>>>>>> e5e0c9296f9e0de879ea57a2af12f8e0d9a2bdde
