<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Valparaiso University's ACM Website</title>
    <link rel="stylesheet" href="static/main.css"/>
  </head>
  <body>
    <h1 class="title">Valparaiso University's ACM Website</h1>
    <a href="https://www.valpo.edu/computing-information-sciences/"><b>Check out Valpo's Computer Science Department page!</b></a><p>
    <a href="https://www.valpo.edu/college-of-engineering/academics/undergraduate/computer-engineering/"><b>Check out Valpo's Computer Engineering Department page!</b></a><p>
    <a href="https://www.valpo.edu/college-of-engineering/academics/undergraduate/electrical-engineering/"><b>Check out Valpo's Electrical Engineering Department page!</b></a><p>
    <!--<a href=""><b>Check out Valpo's IEEE program!</b></a>-->
  </body>
</html>
