<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Valparaiso University's ACM Website</title>
    <link rel="stylesheet" href="static/main.css"/>
    <style>
    .images {
      columns: 100px 2;
    }

    .links {
      columns: 50px 4;
    }

    .members {
      columns: 70px 3;
    }
    </style>
  </head>
  <body>
  <!--Title Images Display-->
  <div class="jumbotron text-center">
    <h1 class="title" text-align: "center" style="background-color: brown;">Valparaiso University's ACM Website</h1>
    <div class="images" style="background-color: gold;">
      <div class="row">
        <div class="col-sm-6">
          <img src="https://yt3.ggpht.com/ytc/AKedOLRpVLRmlDLVJQGQHVckn5s9Y55faTHS5niC7F-oGw=s900-c-k-c0x00ffffff-no-rj" width="400" height="400">
        </div>
        <div class="col-sm-6">
          <img src="https://www.acm.org/binaries/content/gallery/acm/ctas/ambassadors-for-acm.jpg/ambassadors-for-acm.jpg/acm%3Adesktopcta" width="400" height="400">
        </div>
      </div>
    </div>
  </div>
    <!--Hyperlinks to relevant websites-->
    <div class="links" style="background-color: gold;">
      <div class="row">
        <div class="col-sm-3">
          <a href="https://www.valpo.edu/computing-information-sciences/"><b>Check out Valpo's Computer Science Department page!</b></a><p>
        </div>
        <div class="col-sm-3">
          <a href="https://www.valpo.edu/college-of-engineering/academics/undergraduate/computer-engineering/"><b>Check out Valpo's Computer Engineering Department page!</b></a><p>
        </div>
        <div class="col-sm-3">
          <a href="https://www.valpo.edu/college-of-engineering/academics/undergraduate/electrical-engineering/"><b>Check out Valpo's Electrical Engineering Department page!</b></a><p>
        </div>
        <div class="col-sm-3">
          <a href="https://www.ieee.org/"><b>Check out IEEE!</b></a>
        </div>
      </div>
    </div>
    <!--Current Members-->
    <h1 class="title" text-align: "center" style="background-color: brown;"><b>Current Members of ACM</b></h1>
    <div class="members" style="background-color: brown;">
      <div class="row">
        <div class="col-sm-4">
          <h2><b>Eric Yager</b><h2>
          <img src="" width="250" height="250">
          <h3>eric.yager@valpo.edu</h3>
          <h3>Majors: Computer Science & Math</h3>
          <h3>Senior</h3>
          <h3>Favorite Language:</h3>
        </div>
        <div class="col-sm-4">
          <h2><b>Nathan Harmon</b><h2>
          <img src="" width="250" height="250">
          <h3>nathan.harmon@valpo.edu</h3>
          <h3>Major: Computer Science</h3>
          <h3>Sophomore</h3>
          <h3>Favorite Language: </h3>
        </div>
        <div class="col-sm-4">
          <h2><b>Graham Butler</b><h2>
          <img src="" width="250" height="250">
          <h3>graham.butler@valpo.edu</h3>
          <h3>Majors: Computer Science & Music</h3>
          <h3>Junior</h3>
          <h3>Favorite Language:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </body>
</html>
