<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Valparaiso University's ACM Website</title>
    <link rel="stylesheet" href="static/main.css"/>
  </head>
  <body>
  <!--Title Images Display-->
  <header class="jumbotron text-center">
    <h1>Valparaiso University's ACM Website</h1>
    <div class="images" style="background-color: gold;">
      <div class="row">
        <div class="col-sm-6">
          <img src="https://yt3.ggpht.com/ytc/AKedOLRpVLRmlDLVJQGQHVckn5s9Y55faTHS5niC7F-oGw=s900-c-k-c0x00ffffff-no-rj" width="400" height="400">
        </div>
        <div class="col-sm-6">
          <img src="https://www.acm.org/binaries/content/gallery/acm/ctas/ambassadors-for-acm.jpg/ambassadors-for-acm.jpg/acm%3Adesktopcta" width="400" height="400">
        </div>
      </div>
    </div>
  </header>
    <!--Hyperlinks to relevant websites-->
    <section class="links" style="background-color: gold;">
      <div class="row">
        <div class="col-sm-3">
          <a href="https://www.valpo.edu/computing-information-sciences/"><b>Check out Valpo's Computer Science Department page!</b></a><p>
        </div>
        <div class="col-sm-3">
          <a href="https://www.valpo.edu/college-of-engineering/academics/undergraduate/computer-engineering/"><b>Check out Valpo's Computer Engineering Department page!</b></a><p>
        </div>
        <div class="col-sm-3">
          <a href="https://www.valpo.edu/college-of-engineering/academics/undergraduate/electrical-engineering/"><b>Check out Valpo's Electrical Engineering Department page!</b></a><p>
        </div>
        <div class="col-sm-3">
          <a href="https://www.ieee.org/"><b>Check out IEEE!</b></a>
        </div>
      </div>
    </section>
    <!--Current Members-->
    <section class="members" style="background-color: brown;">
        <h2 class="title" text-align: "center" style="background-color: brown;">Current Members of ACM</h2>
        <div class="user-block">
          <h3>Eric Yager<h3>
          <img src="" alt="Picture of Eric Yager doing something." width="250" height="250">
          <a class="email-address" href="mailto:eric.yager@valpo.edu">eric.yager@valpo.edu</a>
          <p>Eboard Position: President</p>
          <p>Majors: Computer Science & Math</p>
          <p>Senior</p>
          <p>Favorite Language:</p>
        </div>
        <div class="user-block">
          <h3>Nathan Harmon<h3>
          <img src="" alt="Picture of Nathan Harmon doing something." width="250" height="250">
          <a class="email-address" href="mailto:nathan.harmon@valpo.edu">nathan.harmon@valpo.edu</a>
          <p>Eboard Position: Vice President</p>
          <p>Major: Computer Science</p>
          <p>Sophomore</p>
          <p>Favorite Language: </p>
        </div>
        <div class="user-block">
          <h3>Graham Butler<h3>
          <img src="" alt="Picture of Graham Butler doing something." width="250" height="250">
          <a class="email-address" href="mailto:graham.butler@valpo.edu">graham.butler@valpo.edu</a>
          <p>Majors: Computer Science & Music</p>
          <p>Junior</p>
          <p>Favorite Language:</p>
        ``</div>
    </section>
  </body>
</html>
