<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Valparaiso University's ACM Website</title>
    <link rel="stylesheet" href="static/main.css"/>
    <style>
    .images {
      columns: 100px 2;
    }

    .links {
      columns: 50px 4;
    }
    </style>
  </head>
  <body>
  <!--Title Images Display-->
  <div class="jumbotron text-center">
    <h1 class="title" text-align: "center" style="background-color: brown;">Valparaiso University's ACM Website</h1>
    <div class="images" style="background-color: gold;">
      <div class="row">
        <div class="col-sm-6">
          <img src="https://yt3.ggpht.com/ytc/AKedOLRpVLRmlDLVJQGQHVckn5s9Y55faTHS5niC7F-oGw=s900-c-k-c0x00ffffff-no-rj" width="400" height="400">
        </div>
        <div class="col-sm-6">
          <img src="https://www.acm.org/binaries/content/gallery/acm/ctas/ambassadors-for-acm.jpg/ambassadors-for-acm.jpg/acm%3Adesktopcta" width="400" height="400">
        </div>
      </div>
    </div>
  </div>
    <!--Hyperlinks to relevant websites -->
    <div class="links" style="background-color: gold;">
      <div class="row">
        <div class="col-sm-3">
          <a href="https://www.valpo.edu/computing-information-sciences/"><b>Check out Valpo's Computer Science Department page!</b></a><p>
        </div>
        <div class="col-sm-3">
          <a href="https://www.valpo.edu/college-of-engineering/academics/undergraduate/computer-engineering/"><b>Check out Valpo's Computer Engineering Department page!</b></a><p>
        </div>
        <div class="col-sm-3">
          <a href="https://www.valpo.edu/college-of-engineering/academics/undergraduate/electrical-engineering/"><b>Check out Valpo's Electrical Engineering Department page!</b></a><p>
        </div>
        <div class="col-sm-3">
          <a href="https://www.ieee.org/"><b>Check out IEEE!</b></a>
        </div>
      </div>
    </div>
  </body>
</html>
